# The Scientific Future of Tennis
*By Víctor García - A01232580

## Introduccion
This work will determine the effects of some variables in the performance of tennis players

- **Load the modules**

In [28]:
import pandas as pd # Data manipulation
import numpy as np # Numerical operations
import statsmodels.api as sm # Statistical modeling
import statsmodels.stats.api as sms
import statsmodels.formula.api as smf 
import scipy.stats # Statistical analysis
from statsmodels.stats.outliers_influence import variance_inflation_factor # VIF
from matplotlib import pyplot as plt # Plotting
from statsmodels.compat import lzip # List zip
import datapro # Custom module for model data processing
#       bp_test(res) - Returns a data frame with the Breusch-Pagan test
#       feasible_gls(data,res) - Feasible Generalized Least Squares
#       plot_fit(res,x,y,reg_line=True) - Plot of a OLS regression
#       robust_se (res) - Returns a df with the coeficients

- **Import the dataset**

In [12]:
data = pd.read_excel("SP_TheScientificFutureofTennis_alumn_VF.xlsx")
data.head()

,NAME,GRAND SLAMS,MASTERS 1000,ATP500,ATP250,OLYMPIC GOLD,OLYMPIC SILVER,CHAMP,AGE,YEARS,HEIGHT,WEIGHT,WHR,EARN,DEX,FSER,SPSER,UERR,SPONS
0,DJOKOVIC,23,40,15,12,0,0,64.10,16,21,188,77,0.409574,180937203,1,65,116,7.9,235000000
1,ALCARAZ,2,4,4,2,0,0,7.60,16,4,183,74,0.404372,27026147,1,65,121,8.5,15000000
2,MEDVEDEV,1,6,4,8,0,0,9.90,18,10,198,83,0.419192,38148405,1,61,122,8.4,18000000
3,SINNER,0,1,3,6,0,0,4.05,17,6,188,76,0.404255,17043434,1,59,118,9.7,12000000
4,RUBLEV,0,1,5,8,0,0,5.65,17,10,188,75,0.398936,21659040,1,60,125,10.9,13000000

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   NAME            52 non-null     object
 1   GRAND SLAMS     52 non-null     int64
 2   MASTERS 1000    52 non-null     int64
 3   ATP500          52 non-null     int64
 4   ATP250          52 non-null     int64
 5   OLYMPIC GOLD    52 non-null     int64
 6   OLYMPIC SILVER  52 non-null     int64
 7   CHAMP           52 non-null     float64
 8   AGE             52 non-null     int64
 9   YEARS           52 non-null     int64
 10  HEIGHT          52 non-null     int64
 11  WEIGHT          52 non-null     int64
 12  WHR             52 non-null     float64
 13  EARN            52 non-null     int64
 14  DEX             52 non-null     int64
 15  FSER            52 non-null     int64
 16  SPSER           52 non-null     int64
 17  UERR            52 non-null     float64
 18  SPONS           52 non-null     int64
dtypes: float64(3), int64(15), object(1)
memory usage: 7.8+ KB

We don't want these variables, as explained by the case

In [8]:
data1=data.drop(columns=[
    "NAME", "GRAND SLAMS", "MASTERS 1000", "ATP500", "ATP250",
    "OLYMPIC GOLD", "OLYMPIC SILVER"
])
data1.head()

,CHAMP,AGE,YEARS,HEIGHT,WEIGHT,WHR,EARN,DEX,FSER,SPSER,UERR,SPONS
0,64.10,16,21,188,77,0.409574,180937203,1,65,116,7.9,235000000
1,7.60,16,4,183,74,0.404372,27026147,1,65,121,8.5,15000000
2,9.90,18,10,198,83,0.419192,38148405,1,61,122,8.4,18000000
3,4.05,17,6,188,76,0.404255,17043434,1,59,118,9.7,12000000
4,5.65,17,10,188,75,0.398936,21659040,1,60,125,10.9,13000000

Change from USD to MUSD

In [14]:
data1["EARN"] = data1["EARN"]/1000000
data1["SPONS"] = data1["SPONS"]/1000000

data1.head()

,CHAMP,AGE,YEARS,HEIGHT,WEIGHT,WHR,EARN,DEX,FSER,SPSER,UERR,SPONS
0,64.10,16,21,188,77,0.409574,0.180937,1,65,116,7.9,235.0
1,7.60,16,4,183,74,0.404372,0.027026,1,65,121,8.5,15.0
2,9.90,18,10,198,83,0.419192,0.038148,1,61,122,8.4,18.0
3,4.05,17,6,188,76,0.404255,0.017043,1,59,118,9.7,12.0
4,5.65,17,10,188,75,0.398936,0.021659,1,60,125,10.9,13.0

In [16]:
y = pd.DataFrame(data1["CHAMP"]) # Dependent variable
x = data1.drop(columns=["CHAMP"]) # Independent variables
x = sm.add_constant(x, prepend = True) # Add constant term
x.head()

,const,AGE,YEARS,HEIGHT,WEIGHT,WHR,EARN,DEX,FSER,SPSER,UERR,SPONS
0,1.0,16,21,188,77,0.409574,0.180937,1,65,116,7.9,235.0
1,1.0,16,4,183,74,0.404372,0.027026,1,65,121,8.5,15.0
2,1.0,18,10,198,83,0.419192,0.038148,1,61,122,8.4,18.0
3,1.0,17,6,188,76,0.404255,0.017043,1,59,118,9.7,12.0
4,1.0,17,10,188,75,0.398936,0.021659,1,60,125,10.9,13.0

In [23]:
mod1 = sm.OLS(y,x) # OLS model (Ordinary Least Squares)
res1 = mod1.fit()
print(res1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  CHAMP   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.993
Method:                 Least Squares   F-statistic:                     649.0
Date:                Tue, 16 Jul 2024   Prob (F-statistic):           1.97e-41
Time:                        18:37:09   Log-Likelihood:                -70.424
No. Observations:                  52   AIC:                             164.8
Df Residuals:                      40   BIC:                             188.3
Df Model:                          11
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -52.3853    106.683     -0.491      0.626    -267.999     163.228
AGE            0.1734      0.127      1.367      0.179      -0.083       0.430
YEARS         -0.0888      0.046     -1.928      0.061      -0.182       0.004
HEIGHT         0.3282      0.561      0.585      0.562      -0.805       1.462
WEIGHT        -0.7984      1.327     -0.601      0.551      -3.481       1.884
WHR          135.1731    251.888      0.537      0.594    -373.912     644.258
EARN         286.0313     10.648     26.862      0.000     264.510     307.552
DEX           -0.1859      0.515     -0.361      0.720      -1.227       0.856
FSER          -0.0329      0.062     -0.530      0.599      -0.158       0.092
SPSER         -0.0419      0.029     -1.439      0.158      -0.101       0.017
UERR           0.0486      0.096      0.506      0.616      -0.146       0.243
SPONS          0.0604      0.004     13.910      0.000       0.052       0.069
==============================================================================
Omnibus:                       11.749   Durbin-Watson:                   2.077
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               28.088
Skew:                          -0.410   Prob(JB):                     7.96e-07
Kurtosis:                       6.506   Cond. No.                     4.58e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.58e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

## **Check the OLS Assumptions**
### Asumption of no Multicollinearity of the independent variables

R2 = 0.994 > 0.8 and at least one non-signifcant coefficient. We suspect multicollinearity and we perform the VIF test.

In [24]:
datapro.vif(x, res1)

     VIF Factor Variable
1      1.476176      AGE
2      2.424152    YEARS
3    578.032966   HEIGHT
4   2344.730156   WEIGHT
5   1485.929322      WHR
6      4.955868     EARN
7      1.233934      DEX
8      1.753157     FSER
9      1.494571    SPSER
10     1.474039     UERR
11     4.848748    SPONS

Since WHR combines WEIGHT and HEIGHT, we can eliminate either, WHR or both WEIGHT and HEIGHT, since they duplicate information.

In [25]:
x1=x.drop(columns=["WEIGHT", "HEIGHT"])
mod2 = sm.OLS(y,x1) # OLS model (Ordinary Least Squares)
res2 = mod2.fit()
datapro.vif(x1, res2)

   VIF Factor Variable
1    1.458218      AGE
2    2.228295    YEARS
3    1.166199      WHR
4    4.754001     EARN
5    1.227299      DEX
6    1.657871     FSER
7    1.088887    SPSER
8    1.465343     UERR
9    4.758637    SPONS

#### Assumption of homoskedasticity

#### Testing for heterodskedasticity

In [29]:
Names = ["Lagrane multiplier statistic", "p-value", "f-value", "P(F)"]
Test = sms.het_breuschpagan(res2.resid, res2.model.exog)
lzip(Names, Test)

[('Lagrane multiplier statistic', np.float64(7.115507985087527)),
 ('p-value', np.float64(0.625094636148031)),
 ('f-value', np.float64(0.7398034920251779)),
 ('P(F)', np.float64(0.6705332525506313))]

Result: P-value = 0.625 > 0.05, the null hypothesis is not rejected. Conclusion: With a 95% confidence level, the residuals of the model are homoscedasticity. No solution is needed

#### Asumption of Normality

In [30]:
print(res2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  CHAMP   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.993
Method:                 Least Squares   F-statistic:                     823.5
Date:                Tue, 16 Jul 2024   Prob (F-statistic):           2.99e-44
Time:                        18:51:06   Log-Likelihood:                -70.716
No. Observations:                  52   AIC:                             161.4
Df Residuals:                      42   BIC:                             180.9
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         10.3959      5.966      1.743      0.089      -1.644      22.436
AGE            0.1698      0.124      1.372      0.177      -0.080       0.419
YEARS         -0.0807      0.043     -1.862      0.070      -0.168       0.007
WHR          -16.5163      6.925     -2.385      0.022     -30.492      -2.540
EARN         284.6033     10.235     27.806      0.000     263.948     305.259
DEX           -0.2006      0.504     -0.398      0.693      -1.218       0.817
FSER          -0.0261      0.059     -0.441      0.662      -0.146       0.093
SPSER         -0.0493      0.024     -2.020      0.050      -0.099   -3.91e-05
UERR           0.0536      0.094      0.570      0.572      -0.136       0.243
SPONS          0.0608      0.004     14.385      0.000       0.052       0.069
==============================================================================
Omnibus:                       13.062   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               31.460
Skew:                          -0.514   Prob(JB):                     1.47e-07
Kurtosis:                       6.669   Cond. No.                     9.97e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.97e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

Result: p-value = 1.47e <0.05, the null hypothesis is rejected.

Conclusion: With a 95% confidence level, the residulas of the model are not normally distributed. A possible solution is to use a different method, but is not viable for this examle. It's left as it is

#### Individual significance of the model

In [31]:
print(res2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  CHAMP   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.993
Method:                 Least Squares   F-statistic:                     823.5
Date:                Tue, 16 Jul 2024   Prob (F-statistic):           2.99e-44
Time:                        18:54:22   Log-Likelihood:                -70.716
No. Observations:                  52   AIC:                             161.4
Df Residuals:                      42   BIC:                             180.9
Df Model:                           9
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         10.3959      5.966      1.743      0.089      -1.644      22.436
AGE            0.1698      0.124      1.372      0.177      -0.080       0.419
YEARS         -0.0807      0.043     -1.862      0.070      -0.168       0.007
WHR          -16.5163      6.925     -2.385      0.022     -30.492      -2.540
EARN         284.6033     10.235     27.806      0.000     263.948     305.259
DEX           -0.2006      0.504     -0.398      0.693      -1.218       0.817
FSER          -0.0261      0.059     -0.441      0.662      -0.146       0.093
SPSER         -0.0493      0.024     -2.020      0.050      -0.099   -3.91e-05
UERR           0.0536      0.094      0.570      0.572      -0.136       0.243
SPONS          0.0608      0.004     14.385      0.000       0.052       0.069
==============================================================================
Omnibus:                       13.062   Durbin-Watson:                   2.005
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               31.460
Skew:                          -0.514   Prob(JB):                     1.47e-07
Kurtosis:                       6.669   Cond. No.                     9.97e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.97e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [32]:
x2=x1.drop(columns=["DEX", "FSER", "UERR", "AGE"])
mod3 = sm.OLS(y,x2) # OLS model (Ordinary Least Squares)
res3 = mod3.fit()
print(res3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  CHAMP   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.993
Method:                 Least Squares   F-statistic:                     1487.
Date:                Tue, 16 Jul 2024   Prob (F-statistic):           1.24e-49
Time:                        18:59:06   Log-Likelihood:                -72.987
No. Observations:                  52   AIC:                             158.0
Df Residuals:                      46   BIC:                             169.7
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         11.7069      3.712      3.154      0.003       4.235      19.179
YEARS         -0.0835      0.039     -2.155      0.036      -0.162      -0.006
WHR          -14.8917      6.831     -2.180      0.034     -28.641      -1.142
EARN         281.1424      9.824     28.618      0.000     261.368     300.917
SPSER         -0.0503      0.024     -2.079      0.043      -0.099      -0.002
SPONS          0.0605      0.004     16.057      0.000       0.053       0.068
==============================================================================
Omnibus:                       11.704   Durbin-Watson:                   1.858
Prob(Omnibus):                  0.003   Jarque-Bera (JB):               31.252
Skew:                          -0.321   Prob(JB):                     1.64e-07
Kurtosis:                       6.743   Cond. No.                     8.53e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.53e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

The model is individually significant.

#### Statistical Global Significance

Result: p-value=1.24e-49 < 0.05, therefore, the NULL HYPOTHESIS is rejected.

Conclusion: With a 95% confidence level, the model is globally significance